*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /*font-family: font stack required for body text */
    font-family: Roboto, helvetica, sans-serif;
    background-color: hsl(200,0%,85%);
}
h1, h2, h3, h4{
    /*font-family: font stack required for headings */
    font-family: 'Roboto Slab', Georgia, serif;
}
p{
    
}
.container{
    margin: auto;
    max-width: 1500px;
    background-color: hsl(200,0%,100%);
}
.subnav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: hsl(200,0%,0%);
}
.subnav a{
    padding: 0rem 1rem;
    text-decoration: none;
    color: hsl(200,0%,100%);

}
.subnav a:hover{
    font-weight: bold;
}
.mainnav{
    display: flex;
    flex-direction: row;
/*    border: 1px solid black;*/
    justify-content: space-around;
/*    background-color: hsl(200,35%,60%);*/
    background-image: linear-gradient(hsl(200,35%,60%),hsl(200,35%,0%));
    
    
}
.mainnav a{
    text-decoration: none;
    color: hsl(200,0%,100%);
    text-shadow: 1px 1px hsl(200,0%,0%);
}

.mainnav a:hover{
    font-weight: bold;
    color: hsl(200,35%,80%);
    overflow-y: auto;
 
}

/*Scrolling Navigation*/
.navScroll {
    position: fixed;
    top: 0;
    max-width: 1500px;
    width: 100%
}

.masthead{
    background-image: linear-gradient(hsl(200,0%,0%),hsl(200,35%,60%));
    color: hsl(200,35%,80%);
    text-shadow: -1px 1px hsl(200,0%,0%);
    font-variant: small-caps;
    
}
.times-logo{
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    max-height: 294px;
    max-width: 1334px;
}
.masthead h1{
    text-align: center;
    
}
.content{
    padding: 1rem;
}
.content .story{
    
}
.story.lead-story{
    
}
h1.story-title{
    padding: 1rem 0.5rem 0rem 0.5rem;
}
.story img{
    float: right;
    padding: 0 0 0 1rem;
}
.story p{
    padding: 0.85rem 0.5rem;
}
.story blockquote{
    padding-left: 0.5rem;
    quotes: "\201E" "\201D";
}
.story blockquote::before{
    content: open-quote;
    
}
.story blockquote::after{
    content: close-quote;
}
.story p.byline{
    padding: 0 0.5rem 0.5rem 0.5rem;
    border-bottom: 1px dotted black;
    width: 54vw;
    min-width: 425px;

}
p.byline span.author{
    
}
p.byline span.pub{
    
}
.foot{

}
.foot p{
        text-align: center;
        font-size: 0.75rem;
}